body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#all-flights-header {
  border-bottom: 5px solid black;
  padding: 0;
  text-align: center;
}

#site-name {
  display: inline;
}

#flight-nav {
  display: inline-block;
}

thead{
  border-bottom: 1px solid black;
}